<p id="notice"><%= notice %></p>
<% if alert %>
  <% if alert["errors"] && alert["errors"].any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alert["errors"].count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% alert["errors"].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<p id="players_in_game"><%= t('There are '"#{pluralize(@game.players.count, 'player')}"' in the game') %></p>
<p id="current_player"><%= t('Welcome '"#{@current_user.username}") %></p>
<p id="piece"><%= t('Your piece is '"#{current_game_player.piece}") %></p>
<p id="balance"><%= t('Your balance is $'"#{current_game_player.balance}") %></p>

<%= last_dice_roll_p %>

<%= render 'dice_rolls/form' %>

<%= link_to 'Players', game_players_path(@game) %> |
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
