<p id="notice"><%= notice %></p>
<% if alert %>
  <% if alert["errors"] && alert["errors"].any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alert["errors"].count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% alert["errors"].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= render 'players/index' %>
<p id="players_in_game"><%= t('There are '"#{pluralize(@game_state.players.count, 'player')}"' in the game') %></p>
<% if current_game_player %>
  <p id="welcome"><%= t('Welcome '"#{@current_user.username}") %></p>
  <% if @game_state.players[@game_state.current_player] == current_game_player %>
    <p id="current_player"><%= t('You are the current player') %></p>
  <% end %>
  <p id="piece"><%= t('Your piece is '"#{current_game_player.piece}") %></p>
  <p id="balance"><%= t('Your balance is $'"#{current_game_player.money}") %></p>
  <p id="current_location"><%= t('You are at '"#{@game_state.board[current_game_player.location].name}") %></p>
  <% if current_game_player.jail? %>
    <p id="in_jail"><%= t('You are in jail') %></p>
  <% end %>
  <% if @game_state.players[@game_state.current_player] == current_game_player %>
    <% if @game_state.can_buy_property? && current_game_player.can_afford?(@game_state.board[current_game_player.location].price) %>
      <%= buy_property_form %>
    <% end %>
    <% if @game_state.expecting_rolls > 0 %>
      <% if @game_state.expecting_rolls == 2 %>
        <% if @game_state.can_buy_house? && !current_game_player.possible_house_locations.empty? %>
          <div id="buy_house">
            <%= buy_houses_form %>
          </div>
        <% end %>
        <% if @game_state.can_buy_hotel? && !current_game_player.possible_hotel_locations.empty? %>
          <div id="buy_hotel">
            <%= buy_hotel_form %>
          </div>
        <% end %>
      <% end %>
      <div id="dice_roll">
        <%= roll_dice_form %>
      </div>
    <% else %>
      <%= end_turn_form %>
    <% end %>
    <% if testing_mode? %>
      <div id="set_balance">
        <%= set_balance_form %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= owned_properties %>

<%= last_dice_roll_p %>


<%= link_to 'Players', game_players_path(@game) %> |
<%= link_to 'Back', games_path %>
