<p id="notice"><%= notice %></p>

<% if @game.number_of_players != @players.count %>
  <p id="waiting_for_players"><%= t('Waiting for '"#{pluralize(@game.number_of_players - @players.count, 'player')}") %></p>
<% end %>
<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Piece</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.user.username if player.user %></td>
        <td><%= player.piece %></td>
        <td><%= link_to 'Show', game_player_path(@game, player) %></td>
        <td><%= link_to 'Edit', edit_game_player_path(@game, player) %></td>
        <td><%= link_to 'Destroy', game_player_path(@game, player), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_game_player_path(@game) %>
<%= link_to 'Back', game_path(@game) %>
