<!DOCTYPE html>
<html>
<head>
  <title>Monopoly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_tag(nil, method: :get) do %>
  <%= select_tag(:user, options_from_collection_for_select(User.all, :username, :username, (@current_user.username if @current_user))) %>
  <%= submit_tag 'Change User' %>
<% end %>
<%= yield %>

</body>
</html>
